.voqealar-section-left {
  width: 300px;
}

.voqealar-section-left .card-text-title {
  cursor: pointer;
}

.voqealar-section-left .card-text-title:hover {
  color: #2196f3;
}

.voqealar-section-left .img-scale {
  overflow: hidden;
}

.voqealar-section-left .img-fluid {
  transition: 0.3s linear !important;
  width: 100%;
  height: 12.5rem;
  object-fit: cover;
  border-radius: 5px;
}

.voqealar-section-left .img-fluid-hover:hover {
  transform: scale(1.1);
}

.voqealar-section-left .card-hover {
  transition: 0.3s linear !important;
  margin-bottom: 0.5rem !important;
}

.voqealar-section-left .card-hover:hover {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 0.625rem 1.25rem,
    rgba(0, 0, 0, 0.23) 0px 0.375rem 0.375rem;
  transform: scale(1.02);
}

.voqealar-section-left .modal-backdrop + .voqealar-section .show {
  opacity: 0.1 !important;
}



.voqealar-section-left .splide__list {
  margin: 0;
  padding: 0;
  /* height: 25rem; */
  /* overflow-y: scroll; */
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.voqealar-section-left .splide__list::-webkit-scrollbar {
  width: 6px;
}

.voqealar-section-left .splide__list::-webkit-scrollbar-track {
  background-color: #fff;
}

.voqealar-section-left .splide__list::-webkit-scrollbar-thumb {
  background-color: #2a4d85;
  border-radius: 5px;
}

.voqealar-section-left .splide__slide {
  display: flex;
  align-items: center;
  background-color: #fff;
  cursor: pointer;
  min-height: 3rem !important;
  max-height: 6rem;
  border-radius: 5px;
}

.voqealar-section-left .splide__slide img {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
}

.voqealar-section-left .my-slider-progress-bar {
  background: greenyellow;
  height: 2px;
  transition: width 400ms ease;
  width: 0;
}

.voqealar-section-left #image-carousel button {
  display: none;
}

.voqealar-section-left .splide__slide {
  height: 4.4rem !important;
  background-color: #2a4d85;
  border: 1px solid #2a4d85;
  padding: 0.2rem 0.4rem;
}

.voqealar-section-left .splide__slide .img-div {
  width: 5rem;
  height: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  border-radius: 5px;
  align-items: center;
}

.voqealar-section-left .splide__slide a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff !important;
  font-size: 1rem;
  margin-left: 1rem;
}
