.NavLink{
    font-weight: 500;
    text-transform: uppercase;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /* height: 50px; */
}
.tableHeader  th,td{
    padding: 5px;
}
.inp{
    margin: 10px 30px 0 0;
}
.icon{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
}
.infoBtn{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    border-radius: 5px;
    margin: 5px;
    border: 1px solid;
    width: 35px;
    height: 35px;
    padding: 2px;
    color: #fff;
}
.infoBtn:hover{
    color: #fff;
}
.greydesk{
    background-color: #F5F5F5;
    padding: 5px 0 0 0 ;
    margin-bottom: 20px;
    box-shadow: 0px 0px 1px 0px rgb(99, 98, 98);
}
.greydesk:hover{
    box-shadow: 0px 0px 5px 0px rgb(99, 98, 98);
}
.NavLink li .NavLinkLi{
    background-color: #fff;
    color: #000;
    margin-top: 8px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 12px;
    font-weight: bold;
}
.NavLink li .NavLinkLi:hover{
    color: #000;
}
.NavLink li a{
    margin-top: 6px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 12px;
}
.text-color{
    font-weight: bold;
    color: #0056B8;
    text-transform: uppercase;
    letter-spacing: 1px;

}
.color-black{
    font-weight: bold;
    color: #000;
    /* text-transform: uppercase; */
    letter-spacing: 1px;

}
.Tab tbody {
    border: 1px solid rgb(170, 168, 168);
    border-radius: 20px;

}

table tbody{
    border: 20px solid rgb(209, 209, 209);
    width: 100%;
    border-radius: 20px;

}
.Tab tbody tr{
    border-radius: 20px;

}
.Tab tbody tr td{
    border: 1px solid rgb(209, 208, 208);
    
}

.TableLink{
    color: #0056B8;
    font-size: 17px;
    font-weight: 600;
}
.formInput{
    margin: 0 auto ;
}
.cardd{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.MyNavbar{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.cardHome:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.dropdown-menu input{
    border: 1px solid;
}
/* #passposrtMalumotlari{
    display: none;
}
#mazili{
    display: none;
} */

#pagination{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}
#pagination ul{
    width:40%;
    height: 100%;
    display: flex;
    align-items: center;
    /* justify-content: space-cen; */
}
#pagination ul li{
    list-style: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 1px;
    margin-top: 5px;
}
#pagination ul li  a{
    width:60px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0056B8;
    color: #fff;
    font-size: 16px;
    border-radius: 3px;
    
}
#pagination ul li:first-child a{
    background-color: #eee;
    color: #000;
    font-size: 18px;
    border: 1px solid rgb(212, 211, 211);
}
#pagination ul li:last-child a{
    background-color: #eee;
    color: #000;
    font-size: 18px;
    border: 1px solid rgb(212, 211, 211);
}

#NavLink-1{
    font-weight: 500;
    text-transform: uppercase;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-weight: bold;
    color: #0056B8 !important;
    text-transform: uppercase;
    letter-spacing: 1px;
    /* height: 50px; */
}
#nav{
    height: 60px;
    display: flex;
    align-items: center;
}
#nav::before{
    content: '<<';
    width: 40px;
    height: 35px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #eee;
    color: #000;
}
#nav::after{
    content: '>>';
    width: 40px;
    height: 35px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #eee;
    color: #000;
}
#nav a{
    width: 40px;
    height: 35px;
    margin: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0056B8;
    color: #fff;
    border-radius: 5px;
}

#navv{
    position: absolute;
    top: 100px;
    width: 90%;
    height: 60px;
    display: flex;
    align-items: center;
}

#navv::before{
    content: '<<';
    width: 40px;
    height: 35px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #eee;
    color: #000;
}
#navv::after{
    content: '>>';
    width: 40px;
    height: 35px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #eee;
    color: #000;
}
#navv a{
    width: 40px;
    height: 35px;
    margin: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0056B8;
    color: #fff;
    border-radius: 5px;
}
#navv a .active{
    background-color: #eee;
}





















