body {
  overflow-y: auto;
  overflow-x: hidden;
  background: url("./fon.png");
}

ul a {
  color: #808080;
}

ul a:hover {
  color: #000;
}

.img-hover img:hover {
  transform: scale(1.5);
}

.img-hover img {
  transition: 0.3s;
}

.boxes {
  margin-top: 20px;
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 196px;
  gap: 8px 16px;
}

@media (max-width:768px) {
  .boxes {
    grid-template-columns: 1fr;
  }

  .buxoro-img,
  .logo {
    height: 70px;
  }
}

/* .boxes div:first-child {
  grid-row: 1/3 !important;
  grid-row-start: 1;
  grid-row-end: 3;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card-text-title:hover {
  cursor: pointer;
  color: #2196F3;
}

.img-scale {
  overflow: hidden;
}

.img-fluid {
  transition: .3s linear;
}

.img-fluid-hover:hover {
  transform: scale(1.1);
}

.card-hover {
  transition: 0.3s linear;
}

.card-hover:hover {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transform: scale(1.02);
}

.ish-tartibi {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 160px;
  gap: 8px;
}

.ish-tartibi>div {
  background-color: white;
  border: none;
}

.ish-tartibi div:nth-child(1),
.ish-tartibi div:nth-child(4) {
  grid-row: span 2;
}

.dasturiy a:hover {
  cursor: pointer;
  color: #2196F3;
}

.ish-tartibi div ul li {
  border: none;
}

@media (max-width:1200px) {
  .ish-tartibi {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width:768px) {
  .ish-tartibi {
    grid-template-columns: 1fr;
  }
}

.davlat-sektor {
  display: grid;
  grid-template-columns: 3fr 9fr;
  grid-auto-rows: 360px;
  gap: 8px;
}

.davlat-sektor>div {
  background-color: white;
}

.sectorlar {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 300px;
  gap: 8px;
}

.sectorlar>div {
  background-color: white;
  border: 1px solid #F4F4F4;
  transition: .5s;
  cursor: pointer;
}

.sectorlar>div:hover {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.sektor-img {
  transition: .5s;
}

.sektor-img:hover {
  transform: scale(1.2);
}

.tumanlar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 50px;
  gap: 10px;
}

.tumanlar>div:nth-child(1) {
  grid-column: span 2;
}

.profile {
  height: 50px;
  bottom: -50px;
  transition: .5s;
}

.card-hokim:hover .profile {
  bottom: 0;
}

.profile i {
  transition: .3s;
}

.profile i:hover {
  color: #f58646 !important;
  transform: scale(1.1);
}

.box-img {
  transition: .5s;
  cursor: pointer;
}

.boxes>div:hover .box-img {
  transform: scale(1.1);
}