.section-accordion .card a {
  color: #eee !important;
}

.section-accordion .card .body-elements .img {
  padding: 18px !important;
}

@media (min-width: 1200px) {
  .section-accordion .card .card-title {
    width: 100%;
  }
}

/* .section-accordion .card .sub-link {
		color: #000 !important;
	} */

/* ACCORDION */

.section-accordion .card .card-body {
  padding: 0;
}

.section-accordion .card .body-elements {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-accordion .card .body-elements .img {
  flex: 0.4;
  padding: 0.5rem;
  /* 24px */
}

.section-accordion .card .body-elements .img img {
  width: 310px;
  height: 380px;
  object-fit: cover;
}

.section-accordion .card .body-elements .table-responsive {
  flex: 1;
  padding: 0.5rem;
}

.section-accordion .card .body-elements .person-info h1 {
  font-size: 1.8rem;
  margin: 0;
  padding: 0.5rem;
}

.section-accordion .card .body-elements .person-info p {
  font-size: 1.2rem;
  padding: 0.5rem;
  margin: 0;
}

.section-accordion .card .body-elements .table-responsive .person .table {
  margin-bottom: 0.5rem;
}

.section-accordion .card .body-elements .table-responsive .person button {
  padding: 0.8rem 1rem;
}

.section-accordion .card .body-elements .table-responsive .person button span {
  font-size: 13px;
}

@media (max-width: 1200px) {
  .section-accordion .card .card-body {
    padding: 0;
  }

  .section-accordion .card .body-elements {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .section-accordion .card .body-elements .img {
    flex: 0.2;
    padding: 1.5rem;
    /* 24px */
  }

  .section-accordion .card .body-elements .img img {
    width: 230px;
    height: 340px;
    object-fit: cover;
  }

  .section-accordion .card .body-elements .table-responsive {
    flex: 1;
    padding: 0.5rem;
  }

  .section-accordion .card .body-elements .person-info h1 {
    font-size: 1.5rem;
    margin: 0;
    /* padding: 0.5rem; */
  }

  .section-accordion .card .body-elements .person-info p {
    font-size: 1rem;
    /* padding: 0.5rem; */
    margin: 0;
  }

  .section-accordion .card .body-elements .table-responsive .person .table {
    margin-bottom: 0.5rem;
  }

  .section-accordion .card .body-elements .table-responsive .person button {
    padding: 0.6rem 0.8rem;
  }

  .section-accordion
    .card
    .body-elements
    .table-responsive
    .person
    button
    span {
    font-size: 12px;
  }
}

@media (max-width: 769px) {
  .section-accordion .card .card-body {
    padding: 0;
  }

  .section-accordion .card .body-elements {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .section-accordion .card .body-elements .img {
    padding: 1.5rem;
    /* 24px */
  }

  .section-accordion .card .body-elements .img img {
    width: 220px;
    height: 330px;
    object-fit: cover;
  }

  .section-accordion .card .body-elements .table-responsive {
    padding: 0.5rem;
  }

  .section-accordion .card .body-elements .table-responsive .table {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .section-accordion .card .body-elements .table-responsive .person {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .section-accordion .card .body-elements .table-responsive .person-info {
    text-align: center;
  }

  .section-accordion .card .body-elements .person-info h1 {
    font-size: 1.5rem;
    margin: 0;
    /* padding: 0.5rem; */
  }

  .section-accordion .card .body-elements .person-info p {
    font-size: 1rem;
    /* padding: 0.5rem; */
    margin: 0;
  }

  .section-accordion .card .body-elements .table-responsive .person .table {
    margin-bottom: 0.5rem;
  }

  .section-accordion .card .body-elements .table-responsive .person button {
    padding: 0.6rem 0.8rem;
  }

  .section-accordion
    .card
    .body-elements
    .table-responsive
    .person
    button
    span {
    font-size: 12px;
  }
}

@media (max-width: 447px) {
  body {
    padding: 0px 6px !important;
  }

  .section-accordion .card .card-body {
    padding: 0 !important;
  }

  .section-accordion .card .body-elements {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2px;
  }

  .section-accordion .card .body-elements .img {
    padding: 18px;
  }

  .section-accordion .card .body-elements .img img {
    width: 240px;
    height: 280px;
    object-fit: cover;
  }

  /* .section-accordion .card .body-elements .img img {
			width: 100% !important;
			
		} */

  .section-accordion .card .body-elements .person-info {
    margin: 4px 0;
  }

  .section-accordion .card .body-elements .person-info h1 {
    font-size: 22px;
    margin-bottom: 20px;
  }

  .section-accordion .card .body-elements .person-info p {
    font-size: 16px;
    padding: 6px;
  }

  .section-accordion .card .body-elements .table-responsive .person .table {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 0;
  }

  .section-accordion .card .body-elements .table-responsive {
    padding: 0;
  }

  .section-accordion .card .body-elements .table-responsive .person {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .section-accordion .card .body-elements .person-info {
    text-align: center;
  }

  .section-accordion .card .body-elements .table-responsive .person button {
    padding: 0.4rem 0.6rem;
  }

  .section-accordion
    .card
    .body-elements
    .table-responsive
    .person
    button
    span {
    font-size: 10px;
  }
}
