footer {
  position: relative;
}

footer .containers {
  position: relative;
  z-index: 10;
  display: grid;
  width: 100%;
  grid-template-columns: 3fr 2fr 2fr 2fr 3fr 2fr;
  grid-auto-rows: auto auto auto auto;
  margin-left: 3rem;
  gap: 1rem;
}

footer .containers div {
  width: 100%;
}

footer .containers p {
  font-size: 1rem;
}

footer .karvon {
  width: 60%;
  height: 20rem;
  object-fit: unset;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 5;
}

@media (max-width: 1400px) {
  footer .containers {
    margin-left: 0rem;
    grid-template-columns: 3fr 1fr 1fr 1fr 3fr 1fr;
  }

  h4 {
    width: 100px;
  }
}

@media (max-width: 1200px) {
  footer .containers {
    grid-template-columns: repeat(3, 1fr);
  }

  h4 {
    width: max-content;
  }
}

@media (max-width: 992px) {
  .gimn_note {
    display: none;
  }
}

@media (max-width: 768px) {
  footer .containers {
    grid-template-columns: repeat(2, 1fr);
  }

  .gimn_note {
    display: none;
  }
}

@media (max-width: 670px) {
  footer .containers {
    grid-template-columns: repeat(1, 1fr);
  }

  footer .containers div {
    text-align: center !important;
  }

  footer .containers div h4 {
    margin: 0 auto !important;
  }

  footer .containers div p.mb-2 {
    display: flex;
    flex-direction: column;
    width: max-content;
    margin: 0 auto;
  }

  footer .containers div,
  footer .containers div div {
    display: flex;
    flex-direction: column;
    width: max-content;
    margin: 0 auto;
  }
}

.scrollToTop {
  position: fixed;
  bottom: 20px;
  right: 30px;
  padding: 12px;
  color: white;
  background: #365ea9;
  font-weight: 600;
  opacity: 1;
  cursor: pointer;
  transition: all 0.2s ease-out;
  z-index: 9999;
  transform: translateX(200%);
  border-radius: 50%;
  aspect-ratio: 1/1;
  width: 50px;
  height: 50px;
  display: grid;
  place-items: center;
  font-size: 17px;
}

.scrollToTop:hover {
  background: #0b3251;
  /*opacity: 0;*/
}

.scrollToTop i {
  position: absolute;
  inset: 0;
  top: 25%;
}

.scrollToTop:hover i {
  animation-name: arrowUp;
  animation-timing-function: cubic-bezier(1, -0.02, 0.75, 1.38);
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
}

@keyframes arrowUp {
  0% {
    top: 20%;
  }

  50% {
    top: 50%;
  }

  100% {
    top: 20%;
  }
}

.navbar-local {
  padding: 8px 10px;
}

.hr-local {
  margin-right: 15px !important;
  margin-top: 20px !important;
}

.languages_block {
  border: 1px solid rgb(65, 64, 64);
  border-radius: 20px;
  padding: 7px 9px;
}

.uppercase {
  text-transform: uppercase;
}

.dropdown-toggle::after {
  font-size: 16px;
}

.share {
  cursor: pointer;
  background: #0b3251;
  padding: 5px;
  color: white;
  border-radius: 4px;
  margin-left: 15px;
  transition: all 0.1s ease;
  user-select: none;
}

.share:hover {
  background: #2a4d85;
}

share:active {
  background: #1c2e37;
}

.localReader {
  position: fixed;
  z-index: 99999;
  color: white;
  background: #0d3c61;
  padding: 4px;
  border-radius: 4px;
  transition: 0.2s;
  cursor: pointer;
  opacity: 0;
}
