/* .yangiliklar-section {
  width: 345px;
} */

.yangiliklar-section .card-body {
  height: 10rem;
  max-height: 11.25rem;
}

.yangiliklar-section .card-text-title {
  cursor: pointer;
}

.yangiliklar-section .card-text-title:hover {
  color: #2196f3;
}

.yangiliklar-section .img-scale {
  overflow: hidden;
}

.yangiliklar-section .img-fluid {
  transition: 0.3s linear !important;
  width: 100%;
  height: 15.625rem;
  object-fit: cover;
}

.yangiliklar-section .img-fluid-hover:hover {
  transform: scale(1.1);
}

.yangiliklar-section .card-hover {
  transition: 0.3s linear !important;
}

.yangiliklar-section .card-hover:hover {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 0.625rem 1.25rem,
    rgba(0, 0, 0, 0.23) 0px 0.375rem 0.375rem;
  transform: scale(1.02);
}

.yangiliklar-section .modal-backdrop + .yangiliklar-section .show {
  opacity: 0.1 !important;
}
