.right-panel {
  width: calc(100% - 300px);
  background-color: #eee;
}

.footer-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-menu li {
  padding: 0.625rem 0;
}

.footer-menu li:last-child {
  margin-left: auto;
}
