* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #fff !important;
  background: url("./images/fon.png");
  padding: 0 3rem;
}

.paginate {
    display: flex;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.paginate li {
    margin: 0 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    color: #333333 !important;

	width: 50px;
	height: 50px;
	background: rgba(51, 51, 51, 0.1);
	border-radius: 5px;
}
.paginate li a {
    width: 50px;
    height: 50px;
    color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
}
.paginate li.active {
    background-color: #0056B8;
    color: #fff !important;
}



.bg-primary {
  background-color: #2a4d85 !important;
}


.left-panel {
  display: none;
}


@media print {
  body * {
    visibility: hidden;
  }

  #printarea,
  #printarea * {
    visibility: visible;
  }

  #printarea {
    position: absolute;
    left: 0;
    top: 0;
  }
}

.dropdown-item {
  text-transform: uppercase;
}

.lan_active {
  color: #2196f3 !important;
}

@media only screen and (max-width: 768px) {
  body {
    padding: 0 10px;
  }
}

.navbar-toggler:focus {
  box-shadow: none !important;
  border: 1px solid cyan;
}



/* footer {
  position: relative;
}

footer .containers {
  position: relative;
  z-index: 10;
  display: grid;
  width: 100%;
  grid-template-columns: 3fr 2fr 2fr 2fr 3fr 2fr;
  grid-auto-rows: auto auto auto auto;
  margin-left: 3rem;
  gap: 1rem;
}

footer .containers div {
  width: 100%;
}

footer .containers p {
  font-size: 1rem;
}

footer .karvon {
  width: 60%;
  height: 20rem;
  object-fit: unset;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 5;
}

@media (max-width: 1400px) {
  footer .containers {
    margin-left: 0rem;
    grid-template-columns: 3fr 1fr 1fr 1fr 3fr 1fr;
  }

  h4 {
    width: 100px;
  }
}

@media (max-width: 1200px) {
  footer .containers {
    grid-template-columns: repeat(3, 1fr);
  }

  h4 {
    width: max-content;
  }
}

@media (max-width: 768px) {
  footer .containers {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 670px) {
  footer .containers {
    grid-template-columns: repeat(1, 1fr);
  }

  footer .containers div {
    text-align: center !important;
  }

  footer .containers div h4 {
    margin: 0 auto !important;
  }

  footer .containers div p.mb-2 {
    display: flex;
    flex-direction: column;
    width: max-content;
    margin: 0 auto;
  }

  footer .containers div,
  footer .containers div div {
    display: flex;
    flex-direction: column;
    width: max-content;
    margin: 0 auto;
  }
} */



.bg-primary,
.bg-secondary {
  background-color: #2a4d85 !important;
}

.sidenav-fixed-icons {
  position: fixed;
  left: 0;
  top: 400px;
  z-index: 999;
  list-style: none;
  padding-left: 0;
}

.sidenav-fixed-icons .sidenav-item {
  background: #2a4d85;
  color: white;
  width: 120px;
  left: 0;
  padding: 4px;
  border: 0.5px solid white;
  border-left: none;

  display: flex;
  align-items: center;
  justify-content: space-between;

  cursor: pointer;
  transition: 0.2s ease;
  transform: translateX(-72%);
  text-transform: uppercase;
}

.sidenav-fixed-icons .sidenav-item:hover {
  background: #355993;
  transform: translateX(0%);
}

.sidenav-fixed-icons .sidenav-item:hover > a {
  transform: translateX(0%);
}

.sidenav-fixed-icons .sidenav-item a {
  color: white;
  transition: 0.2s;
  text-decoration: none;
  font-size: 16px !important;
  transform: translateX(-100%);
}

.sidenav-fixed-icons .sidenav-item i {
  padding-right: 5px;
  font-size: 16px !important;
}

.contact-btn {
  background-color: #2a4d85;
  color: #fff !important;
  padding: 10px 20px;
  border: 1px solid transparent;
  cursor: pointer;
  float: right;
  text-transform: uppercase;
  font-size: 11px;
  font-family: Lato-Regular, "sans-serif";
}

.contact-btn:hover {
  background-color: transparent;
  color: #111 !important;
  border: 1px solid #222;
}

.davlat-sektor .item {
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.davlat-sektor .item img {
  width: 200px !important;
  height: 200px;
}

.davlat-sektor .item a {
  font-size: 1.25rem;
  text-align: center;
  color: #2a4d85;
  margin-top: 0.5rem;
}

.davlat-sektor .owl-carousel {
  position: relative;
}

.davlat-sektor .owl-carousel .owl-stage-outer {
  position: absolute !important;
  width: 100%;
}

.davlat-sektor .owl-dots {
  position: absolute !important;
  top: 18rem !important;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}



.css-1s2u09g-control,
.css-1pahdxg-control {
  height: 56px !important;
}

/* ckeditor */
.cke_contents {
  width: 100% !important;
  display: flex !important;
  justify-content: center !important;
  margin: 30px 0 !important;
}
.cke_wysiwyg_div {
  border: 1px solid lightgray !important;
  border-radius: 5px !important;
  width: 630px !important;
  height: 891px !important;
  padding: 30px !important;
}
.cke_toolbox {
  display: flex !important;
  align-items: center !important;
  flex-wrap: wrap !important;
}
.cke_toolgroup {
  display: flex !important;
  align-items: center !important;
}
