.homiylar-section .homiylar {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	gap: 1rem;
}

.homiylar-section .homiy {
	height: 250px;
	background-color: #f0fbff;
	color: #0074b4;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	font-size: 1rem;
	text-align: center;
	position: relative;
}

.homiylar-section .homiy img {
	position: absolute;
	top: 30px;
}

.homiylar-section .homiy p {
	position: absolute;
	top: 150px;
}